<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <span class="navbar-brand">EasyFund</span>
    </nav>
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a><i class="fa fa-dashboard">Welcome USER</i></a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="/investor/newList"><i class="fa fa-gift fa-lg"></i>New Campaign</a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed ">
                    <a href="/investor/investedList"><i class="fa fa-globe fa-lg"></i>Invested Campaign</a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="/investor/requestList"><i class="fa fa-car fa-lg"></i>Requests</a>
                </li>
                <li data-toggle="collapse" data-target="#detailsCollapse" class="collapsed">
                    <a href="/logout"><i class="fa fa-user fa-lg"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-container">
        <div class="col-md-12 offset-md-12" style="float: right; margin-bottom: 20px;">
            <button type="button" class="btn btn-primary" style="float: right;" onclick="goto(<%=list.campID%>)">
                Donate
            </button>
        </div>
        <div class="card-deck" style=" margin-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text"> <%=list.title%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Description</h3>
                    <p class="card-text"><%=list.description%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Minimum Contribution</h3>
                    <p class="card-text"><%=list.minContribution%></p>
                </div>
            </div>
        </div>
        <div class="card-deck" style=" margin-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Team Members</h3>
                    <p class="card-text"> <%=list.teamMembers%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Invested Fund</h3>
                    <p class="card-text"> <%=list.balence%> Ether</p>
                </div>
            </div>
        </div>
        <%
        var len = invList.length;

        if(len>0){
            %>
        <div class="my-row">
            <h3>Investment Details</h3>
            <div class="table-responsive table-bordered movie-table">
                <table class="table movie-table">
                    <thead>
                        <tr class="movie-table-head">
                            <th>Sl No</th>
                            <th>Invester Address</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        <%
                            for(var i = 0;i < len;i++){
                        %>
                        <!--row-->
                        <tr class="dark-row">
                            <td><%=i+1%></td>
                            <td> <%=invList[i].by%> </td>
                            <td> <%=invList[i].amount%> Ether</td>
                            
                        </tr>
                        <!--/.row-->

                        <%
                            }
                        %>
                      
                    </tbody>
                </table>
            </div>
        </div>
        <% }%>
       
    </div>
    <script>
        function goto(index) {
            window.location.href = '/investor/donate?campID=' + index;
        }
    </script>
</body>

</html>